header {
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #f6f6f6;
}

form {
  text-align: center;
  margin: 100px;
}

input {
  height: 40px;
  width: 400px;
}

button {
  border: 1px solid #202020;
  min-width: 130px;
  height: 45px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
}
button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
button:hover:after {
  opacity: 1;
  right: 10px;
}
button:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.card {
  margin: auto;
  color: #f6f6f6;
}
.card-body {
  background-color: #242424;
}
